* {font-family: 'Helvetica', monospace;
}

  
body {
background: #333333;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 600px;
}
