* {font-family: 'Helvetica', monospace;
}

body {
  background: webkit-linear-gradient (black, red);
  background: moz-linear-gradient (black, red);
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 600px;}
